﻿body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 90%;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.center-google {
    margin-top: 109px;
}
.btn-extra-lg,
.btn-group-extra-lg > .btn {
    padding: 15px 22px;
    font-size: 27px;
    line-height: 1.8888888;
    border-radius: 6px;
}

.mg-auto {
    margin: auto;
}

.nm {
    margin:0;
}

.mb-xxs {
    margin-bottom: 1px;
}

.mb-sm {
    margin-bottom: 4px;
}

.mt-xxs {
    margin-top: 1px;
}

.mr-xxs {
    margin-right: 1px;
}

.mr-xs {
    margin-right: 2px;
}

.mr-sm {
    margin-right: 4px;
}

.mr-md {
    margin-right: 8px;
}

.mr-lg {
    margin-right: 16px;
}