﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["Title"] = "Clientes";
}
@model List<Cliente>
<h3>Lista de Clientes</h3>

<table class="table table-responsive table-striped">
    <thead class="thead-inverse">
        <tr>
            <td> * </td>
            <td>Tipo de Cliente</td>
            <td>Número Passageiros</td>
            <td>Data Inicial</td>
            <td>Data Final</td>
            <td>Tipo de carro</td>
            <td>Melhor Empresa Selecionada</td>
            <td>Valor Total</td>
        </tr>
    </thead>
    <tbody class="table-striped">
        @{
            var contador = 0;
            foreach (var aux in Model)
            {
                contador++;
                <tr>
                    <td>@contador</td>
                    <td>@aux.TipoCliente</td>
                    <td>@aux.QuantidadePassageiros</td>
                    <td>@aux.MenorData</td>
                    <td>@aux.MaiorData</td>
                    <td>@aux.TipoCarro</td>
                    <td>@aux.MelhorEmpresa</td>
                    <td><b>R$ @aux.Valor</b></td>
                </tr>
            }
        }
    </tbody>
</table>