﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Início";
}
<div class="row">
<div class="text-center">
    <section class="col-12 center-google">
        <form method="post" enctype="multipart/form-data" asp-controller="Clientes" asp-action="Index">
            <div class="form-group">
                <input type="file" name="file" id="file" class="btn-lg mb-sm" />
            </div>
            <button type="submit" class="btn-primary btn-lg"><i class="glyphicon glyphicon-file"></i> Carregar Arquivo</button>
        </form>
        <br />
                @*
        <a href="@Url.Action("home","upload-arquivo")" class="btn-primary btn-extra-lg"><i class="glyphicon glyphicon-file"></i> Carregar Arquivo</a>
        <form id="formArquivo" name="formArquivo" method="post" enctype="multipart/form-data">
            <input type="file" name="Arquivo" id="Arquivo" class="panel-primary btn-lg mb-sm" />
            <button type="submit" class="btn-primary btn-lg"><i class="glyphicon glyphicon-file"></i> Carregar Arquivo</button>
        </form>

        @Html.ActionLink("Carregar Arquivo", "home", "upload-arquivo", null, new { @class = "btn-primary btn-extra-lg" });
        <hr class="mb-xxs" />

        <asp:FileUpload id="Arquivo" name="Arquivo" class="btn-primary btn-extra-lg"/>
        <i class="glyphicon glyphicon-file"><input type="submit" ruant="server" id="UploadButton" />Carregar Arquivo</i>

        <form method="post" enctype="multipart/form-data" asp-controller="Clientes" asp-action="Index">
            <div class="form-group">
                <input type="file" name="Arquivo" id="Arquivo" class="panel-primary btn-lg mb-sm" />
            </div>
            <button type="submit" class="btn-primary btn-lg"><i class="glyphicon glyphicon-file"></i> Carregar Arquivo</button>
        </form>
                *@
</section>
    <hr class="mb-xxs" />
    <h3 class="mt-xxs"><small>Selecione o arquivo que deseja processar e clique no botão "Carregar Arquivo"!</small></h3>
</div>
</div>